@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,900);
@import url(http://fonts.googleapis.com/css?family=Orbitron:400,500,700,900);
@import url(http://fonts.googleapis.com/css?family=Exo+2:400,900italic,900,200);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,900);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,900);
@import url(http://fonts.googleapis.com/css?family=Orbitron:400,500,700,900);
@import url(http://fonts.googleapis.com/css?family=Exo+2:400,900italic,900,200);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,900);
/* line 17, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/_header.scss */
nav {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 900;
  width: 0;
  height: 100%;
  background: #3498db;
  overflow: hidden;
  text-align: center;
  -webkit-transition: width 300ms ease-in-out;
  -webkit-transition-delay: 0ms;
  -moz-transition: width 300ms ease-in-out 0ms;
  -o-transition: width 300ms ease-in-out 0ms;
  transition: width 300ms ease-in-out 0ms;
}
/* line 19, ../sass/_header.scss */
nav .vectorMeWrap {
  padding: 0 .5em;
  margin: 0 auto;
}
@media (min-width: 768px) {
  /* line 19, ../sass/_header.scss */
  nav .vectorMeWrap {
    width: 74%;
  }
}
/* line 27, ../sass/_header.scss */
nav .vectorMe {
  margin: 1em auto;
  opacity: 0;
  -webkit-transition: all 200ms ease-in-out;
  -webkit-transition-delay: 0ms;
  -moz-transition: all 200ms ease-in-out 0ms;
  -o-transition: all 200ms ease-in-out 0ms;
  transition: all 200ms ease-in-out 0ms;
}
/* line 33, ../sass/_header.scss */
nav a {
  padding: 1em;
  color: #fff;
  display: block;
  opacity: 0;
  text-decoration: none;
  -webkit-transition: all 300ms ease-in-out;
  -webkit-transition-delay: 0ms;
  -moz-transition: all 300ms ease-in-out 0ms;
  -o-transition: all 300ms ease-in-out 0ms;
  transition: all 300ms ease-in-out 0ms;
  font-size: 14px;
  border-top: 1px solid #217dbb;
  white-space: nowrap;
}
/* line 44, ../sass/_header.scss */
nav a:hover {
  background: #217dbb;
  -webkit-transition: all 300ms ease-in-out;
  -webkit-transition-delay: 0ms;
  -moz-transition: all 300ms ease-in-out 0ms;
  -o-transition: all 300ms ease-in-out 0ms;
  transition: all 300ms ease-in-out 0ms;
}

/* line 52, ../sass/_header.scss */
.opened nav {
  width: 34%;
  -webkit-transition: width 300ms ease-in-out;
  -webkit-transition-delay: 0ms;
  -moz-transition: width 300ms ease-in-out 0ms;
  -o-transition: width 300ms ease-in-out 0ms;
  transition: width 300ms ease-in-out 0ms;
}
@media (min-width: 768px) {
  /* line 52, ../sass/_header.scss */
  .opened nav {
    width: 20%;
  }
}
/* line 56, ../sass/_header.scss */
.opened nav a, .opened nav .vectorMe {
  opacity: 1;
  -webkit-transition: all 200ms ease-in-out;
  -webkit-transition-delay: 0ms;
  -moz-transition: all 200ms ease-in-out 0ms;
  -o-transition: all 200ms ease-in-out 0ms;
  transition: all 200ms ease-in-out 0ms;
}

/* line 62, ../sass/_header.scss */
header {
  width: 100%;
  position: absolute;
  z-index: 500;
  top: 0;
  left: 0;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1.5em;
  -webkit-transition: left 300ms ease-in-out;
  -webkit-transition-delay: 0ms;
  -moz-transition: left 300ms ease-in-out 0ms;
  -o-transition: left 300ms ease-in-out 0ms;
  transition: left 300ms ease-in-out 0ms;
}
/* line 73, ../sass/_header.scss */
header .container {
  overflow: visible;
  max-width: none;
}
/* line 78, ../sass/_header.scss */
header .logoLink {
  overflow: hidden;
  text-decoration: none;
  font-family: "Orbitron", sans-serif;
  color: #343434;
  padding: .25em 0;
  display: inline-block;
  position: relative;
  top: 1.5em;
}
@media (min-width: 768px) {
  /* line 78, ../sass/_header.scss */
  header .logoLink {
    padding: .5em 0;
  }
}
/* line 92, ../sass/_header.scss */
header .logoLink .logoSVG {
  vertical-align: middle;
  display: inline-block;
  width: 57px;
}
@media (min-width: 768px) {
  /* line 92, ../sass/_header.scss */
  header .logoLink .logoSVG {
    width: 55px;
  }
}
/* line 100, ../sass/_header.scss */
header .logoLink .path {
  stroke-dasharray: 333.213;
  stroke-dashoffset: -333.213;
  /*animation*/
  -webkit-animation: dash 4.5s linear forwards;
  -moz-animation: dash 4.5s linear forwards;
  -ms-animation: dash 4.5s linear forwards;
  -o-animation: dash 4.5s linear forwards;
  animation: dash 4.5s linear forwards;
  -webkit-transition: all 400ms ease-in;
  -webkit-transition-delay: 0ms;
  -moz-transition: all 400ms ease-in 0ms;
  -o-transition: all 400ms ease-in 0ms;
  transition: all 400ms ease-in 0ms;
}
/* line 115, ../sass/_header.scss */
header .logoLink h1 {
  font-size: 1.35em;
  line-height: 1.35em;
  vertical-align: middle;
  display: inline-block;
  font-weight: 700;
}
@media (min-width: 768px) {
  /* line 115, ../sass/_header.scss */
  header .logoLink h1 {
    font-size: 1.75em;
  }
}
/* line 129, ../sass/_header.scss */
header .logoLink span {
  color: #3498db;
}
/* line 133, ../sass/_header.scss */
header .logoLink:hover .path {
  fill: #3498db;
  stroke: #fff;
}
/* line 140, ../sass/_header.scss */
header .navToggle {
  height: 60px;
  width: 60px;
  position: fixed;
  right: 0;
  bottom: 0;
  text-align: center;
  background: #3498db;
  opacity: .4;
  cursor: pointer;
  padding: 0.9em 0 0;
  -webkit-transition: all 300ms ease-in-out;
  -webkit-transition-delay: 0ms;
  -moz-transition: all 300ms ease-in-out 0ms;
  -o-transition: all 300ms ease-in-out 0ms;
  transition: all 300ms ease-in-out 0ms;
}
/* line 153, ../sass/_header.scss */
header .navToggle:hover {
  opacity: 1;
}
@media (min-width: 768px) {
  /* line 140, ../sass/_header.scss */
  header .navToggle {
    bottom: initial;
    top: 0;
    padding: 0.6em 0 0;
  }
}

/* line 169, ../sass/_header.scss */
.opened header {
  -webkit-transition: left 300ms ease-in-out;
  -webkit-transition-delay: 0ms;
  -moz-transition: left 300ms ease-in-out 0ms;
  -o-transition: left 300ms ease-in-out 0ms;
  transition: left 300ms ease-in-out 0ms;
}
/* line 172, ../sass/_header.scss */
.opened header .navToggle {
  right: 34%;
  opacity: 1;
}
@media (min-width: 768px) {
  /* line 172, ../sass/_header.scss */
  .opened header .navToggle {
    right: 20%;
  }
}

/* line 17, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/main.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 13, ../sass/main.scss */
img {
  max-width: 100%;
}

/* line 17, ../sass/main.scss */
canvas {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
}

/* line 27, ../sass/main.scss */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 34, ../sass/main.scss */
body {
  font-family: "Lato", sans-serif;
  font-size: 100%;
  font-weight: 300;
  background: url("../images/heroBg.jpg") repeat;
}
@media (min-width: 768px) {
  /* line 34, ../sass/main.scss */
  body {
    font-size: 120%;
  }
}
@media (min-width: 1024px) {
  /* line 34, ../sass/main.scss */
  body {
    font-size: 150%;
  }
}

/* line 48, ../sass/main.scss */
.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1.5em;
}
@media (min-width: 768px) {
  /* line 48, ../sass/main.scss */
  .container {
    padding: 0 2.5em;
  }
}

/* line 59, ../sass/main.scss */
.pageWrap {
  width: 100%;
  height: 100%;
  -webkit-transition: left 300ms ease-in-out;
  -webkit-transition-delay: 0ms;
  -moz-transition: left 300ms ease-in-out 0ms;
  -o-transition: left 300ms ease-in-out 0ms;
  transition: left 300ms ease-in-out 0ms;
  position: relative;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

/* line 69, ../sass/main.scss */
.opened .pageWrap {
  left: -34%;
  -webkit-transition: left 300ms ease-in-out;
  -webkit-transition-delay: 0ms;
  -moz-transition: left 300ms ease-in-out 0ms;
  -o-transition: left 300ms ease-in-out 0ms;
  transition: left 300ms ease-in-out 0ms;
}
@media (min-width: 768px) {
  /* line 69, ../sass/main.scss */
  .opened .pageWrap {
    left: -20%;
  }
}

/* line 75, ../sass/main.scss */
.slide {
  width: 100%;
  height: 100%;
  display: table;
}

/* line 88, ../sass/main.scss */
.hero {
  width: 100%;
  height: 100%;
  position: relative;
  display: table;
}

/* line 95, ../sass/main.scss */
.heroWrap {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: table-cell;
  position: relative;
  z-index: 100;
  left: 0;
  text-align: center;
  vertical-align: middle;
}
@media (min-width: 768px) {
  /* line 106, ../sass/main.scss */
  .heroWrap .heroText {
    width: 100%;
    vertical-align: baseline;
    display: inline-block;
    text-align: center;
  }
}
/* line 115, ../sass/main.scss */
.heroWrap h1 {
  font-size: 1.25em;
  line-height: 1.3;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  margin-bottom: .25em;
  color: #3498db;
}
@media (min-width: 768px) {
  /* line 115, ../sass/main.scss */
  .heroWrap h1 {
    font-family: "Orbitron", sans-serif;
    line-height: 1.5;
  }
}
/* line 129, ../sass/main.scss */
.heroWrap h1 .largeHero {
  display: none;
}
/* line 133, ../sass/main.scss */
.heroWrap h1 span {
  display: block;
  font-weight: 900;
  color: #343434;
  font-family: "Lato", sans-serif;
  font-size: 1.3em;
}
@media (min-width: 768px) {
  /* line 133, ../sass/main.scss */
  .heroWrap h1 span {
    font-size: 2.75em;
  }
}
/* line 145, ../sass/main.scss */
.heroWrap p {
  color: #3498db;
  font-size: 1.25em;
  font-weight: 300;
}
@media (min-width: 768px) {
  /* line 145, ../sass/main.scss */
  .heroWrap p {
    font-family: "Orbitron", sans-serif;
  }
}
/* line 155, ../sass/main.scss */
.heroWrap .portfolio {
  margin: 2em auto 0;
  display: block;
  border: 2px solid #3498db;
  max-width: 240px;
  padding: 1em .25em;
  text-decoration: none;
  color: #3498db;
  font-weight: 300;
  text-transform: uppercase;
  font-size: .8em;
  border-radius: 5px;
  background: transparent;
  position: relative;
  top: 30px;
  -webkit-transition: all 400ms ease-in-out;
  -webkit-transition-delay: 0ms;
  -moz-transition: all 400ms ease-in-out 0ms;
  -o-transition: all 400ms ease-in-out 0ms;
  transition: all 400ms ease-in-out 0ms;
}
@media (min-width: 768px) {
  /* line 155, ../sass/main.scss */
  .heroWrap .portfolio {
    font-size: .7em;
    margin: 6em auto 0;
  }
}
/* line 177, ../sass/main.scss */
.heroWrap .portfolio:hover {
  background: #3498db;
  color: #fff;
  -webkit-transition: all 400ms ease-in-out;
  -webkit-transition-delay: 0ms;
  -moz-transition: all 400ms ease-in-out 0ms;
  -o-transition: all 400ms ease-in-out 0ms;
  transition: all 400ms ease-in-out 0ms;
}
/* line 185, ../sass/main.scss */
.heroWrap .socialWrap {
  display: block;
  margin: 2em auto;
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: auto;
  margin-left: -77px;
}
@media (min-width: 768px) {
  /* line 185, ../sass/main.scss */
  .heroWrap .socialWrap {
    margin-left: -90px;
  }
}
/* line 198, ../sass/main.scss */
.heroWrap .socialWrap a {
  display: inline-block;
  width: 25px;
  margin-right: 1em;
}
/* line 204, ../sass/main.scss */
.heroWrap .socialWrap a:nth-child(4) {
  margin-right: 0;
}

/* line 214, ../sass/main.scss */
.modernWeb {
  display: table;
  width: 100%;
  height: 100%;
  background: #ef4836;
}
/* line 220, ../sass/main.scss */
.modernWeb .modernWrap {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}
/* line 226, ../sass/main.scss */
.modernWeb h1 {
  color: #ffffff;
  font-size: 1.45em;
  text-align: center;
  margin: 1em auto .5em;
  font-weight: 300;
}
@media (min-width: 400px) {
  /* line 226, ../sass/main.scss */
  .modernWeb h1 {
    font-size: 2em;
  }
}

/* line 238, ../sass/main.scss */
.centerWrap {
  width: 100%;
  text-align: center;
}

/* line 246, ../sass/main.scss */
.center {
  position: relative;
  margin: 0 auto;
  border-radius: 50%;
  width: 280px;
  height: 280px;
  background: #fff;
  overflow: hidden;
}
@media (min-width: 400px) {
  /* line 246, ../sass/main.scss */
  .center {
    width: 350px;
    height: 350px;
  }
}

/* line 261, ../sass/main.scss */
.part {
  position: absolute;
  border: 0px solid transparent;
}

/* line 267, ../sass/main.scss */
.part-1 {
  -webkit-animation: animPart1 6s infinite;
  -moz-animation: animPart1 6s infinite;
  animation: animPart1 6s infinite;
  -webkit-animation-timing-function: cubic-bezier(0.6, 1.5, 0.6, 1);
  -moz-animation-timing-function: cubic-bezier(0.6, 1.5, 0.6, 1);
  animation-timing-function: cubic-bezier(0.6, 1.5, 0.6, 1);
  z-index: 15;
}

/* line 273, ../sass/main.scss */
.part-2 {
  -webkit-animation: animPart2 6s infinite;
  -moz-animation: animPart2 6s infinite;
  animation: animPart2 6s infinite;
  -webkit-animation-timing-function: cubic-bezier(0.6, 1.5, 0.6, 1);
  -moz-animation-timing-function: cubic-bezier(0.6, 1.5, 0.6, 1);
  animation-timing-function: cubic-bezier(0.6, 1.5, 0.6, 1);
  background: #fff;
  height: 100px;
  z-index: 10;
  text-align: center;
  display: table;
}
/* line 284, ../sass/main.scss */
.part-2 span {
  display: table-cell;
  vertical-align: middle;
  color: #3498db;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  -webkit-animation: code 6s infinite;
  -moz-animation: code 6s infinite;
  animation: code 6s infinite;
  -webkit-animation-timing-function: cubic-bezier(0.6, 1.5, 0.6, 1);
  -moz-animation-timing-function: cubic-bezier(0.6, 1.5, 0.6, 1);
  animation-timing-function: cubic-bezier(0.6, 1.5, 0.6, 1);
}

/* line 295, ../sass/main.scss */
.part-3 {
  -webkit-animation: animPart3 6s infinite;
  -moz-animation: animPart3 6s infinite;
  animation: animPart3 6s infinite;
  -webkit-animation-timing-function: cubic-bezier(0.6, 1.5, 0.6, 1);
  -moz-animation-timing-function: cubic-bezier(0.6, 1.5, 0.6, 1);
  animation-timing-function: cubic-bezier(0.6, 1.5, 0.6, 1);
  background: #3498db;
  z-index: 9;
  border-radius: 10px;
}

/* line 309, ../sass/main.scss */
.recentSection {
  display: table;
  width: 100%;
  height: 100%;
  padding: 1.5em;
  background: #fff;
}
@media (min-width: 768px) {
  /* line 309, ../sass/main.scss */
  .recentSection {
    padding: 0 2.5em;
  }
}
/* line 318, ../sass/main.scss */
.recentSection .siteWrap {
  overflow: hidden;
  position: relative;
  display: table-cell;
  vertical-align: middle;
  font-size: 1rem;
}
/* line 325, ../sass/main.scss */
.recentSection .siteWrap h1 {
  font-size: 1.75em;
  text-align: center;
  color: #3498db;
  margin: 1em 0;
  font-weight: bold;
}
@media (min-width: 768px) {
  /* line 325, ../sass/main.scss */
  .recentSection .siteWrap h1 {
    font-size: 2.5em;
    margin: 2em 0 3em;
  }
}

/* line 340, ../sass/main.scss */
.workWrap {
  max-width: 1280px;
  margin: 5em auto;
}
/* line 345, ../sass/main.scss */
.workWrap .description h3 {
  font-size: 1.25em;
  font-weight: bold;
  margin: .5em 0;
}
/* line 350, ../sass/main.scss */
.workWrap .description p {
  margin: .5em 0 1.5em;
  line-height: 1.4;
}
/* line 354, ../sass/main.scss */
.workWrap .description p a {
  color: #3498db;
}
/* line 359, ../sass/main.scss */
.workWrap .description p + a {
  background: #ef4836;
  color: #fff;
  padding: 1em;
  border-radius: 4px;
  text-decoration: none;
  display: block;
  margin: 1em auto;
  max-width: 200px;
  text-align: center;
  -webkit-transition: background 200ms ease-in;
  -webkit-transition-delay: 0;
  -moz-transition: background 200ms ease-in 0;
  -o-transition: background 200ms ease-in 0;
  transition: background 200ms ease-in 0;
}
/* line 371, ../sass/main.scss */
.workWrap .description p + a:hover {
  background: #e02612;
}
@media (min-width: 768px) {
  /* line 359, ../sass/main.scss */
  .workWrap .description p + a {
    margin: 1em 0;
  }
}
/* line 377, ../sass/main.scss */
.workWrap .description,
.workWrap .computerPhone {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}
@media (min-width: 768px) {
  /* line 377, ../sass/main.scss */
  .workWrap .description,
  .workWrap .computerPhone {
    width: 34%;
  }
}
@media (min-width: 768px) {
  /* line 385, ../sass/main.scss */
  .workWrap .computerPhone {
    width: 62%;
  }
}
@media (min-width: 768px) {
  /* line 389, ../sass/main.scss */
  .workWrap .left {
    margin-right: 4%;
  }
}

@-webkit-keyframes dash {
  /* line 398, ../sass/main.scss */
  from {
    stroke-dashoffset: 333.213;
  }

  /* line 401, ../sass/main.scss */
  to {
    stroke-dashoffset: 0;
  }
}

@-moz-keyframes dash {
  /* line 398, ../sass/main.scss */
  from {
    stroke-dashoffset: 333.213;
  }

  /* line 401, ../sass/main.scss */
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  /* line 398, ../sass/main.scss */
  from {
    stroke-dashoffset: 333.213;
  }

  /* line 401, ../sass/main.scss */
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes animPart1 {
  /* line 414, ../sass/main.scss */
  0%, 10% {
    width: 20px;
    height: 5px;
    left: 50%;
    margin-left: -10px;
    top: 174px;
    border-radius: 0;
    background: #1c699d;
  }

  /* line 423, ../sass/main.scss */
  18%, 28% {
    width: 20px;
    height: 20px;
    left: 50%;
    margin-left: -10px;
    top: 205px;
    border-radius: 60px;
    background: #1c699d;
  }

  /* line 432, ../sass/main.scss */
  36%, 46% {
    width: 20px;
    height: 20px;
    left: 50%;
    margin-left: -10px;
    top: 217px;
    border-radius: 60px;
    background: #1c699d;
  }

  /* line 441, ../sass/main.scss */
  54%, 64% {
    width: 200px;
    height: 12px;
    left: 50%;
    margin-left: -100px;
    top: 210px;
    border-radius: 100px;
    background: #1c699d;
  }

  /* line 450, ../sass/main.scss */
  72%, 82% {
    width: 80px;
    height: 15px;
    left: 50%;
    margin-left: -40px;
    top: 230px;
    border-radius: 100px;
    background: #1c699d;
  }

  /* line 459, ../sass/main.scss */
  90%, 100% {
    width: 20px;
    height: 5px;
    left: 50%;
    margin-left: -10px;
    top: 174px;
    border-radius: 0;
    background: #1c699d;
  }
}

@-moz-keyframes animPart1 {
  /* line 414, ../sass/main.scss */
  0%, 10% {
    width: 20px;
    height: 5px;
    left: 50%;
    margin-left: -10px;
    top: 174px;
    border-radius: 0;
    background: #1c699d;
  }

  /* line 423, ../sass/main.scss */
  18%, 28% {
    width: 20px;
    height: 20px;
    left: 50%;
    margin-left: -10px;
    top: 205px;
    border-radius: 60px;
    background: #1c699d;
  }

  /* line 432, ../sass/main.scss */
  36%, 46% {
    width: 20px;
    height: 20px;
    left: 50%;
    margin-left: -10px;
    top: 217px;
    border-radius: 60px;
    background: #1c699d;
  }

  /* line 441, ../sass/main.scss */
  54%, 64% {
    width: 200px;
    height: 12px;
    left: 50%;
    margin-left: -100px;
    top: 210px;
    border-radius: 100px;
    background: #1c699d;
  }

  /* line 450, ../sass/main.scss */
  72%, 82% {
    width: 80px;
    height: 15px;
    left: 50%;
    margin-left: -40px;
    top: 230px;
    border-radius: 100px;
    background: #1c699d;
  }

  /* line 459, ../sass/main.scss */
  90%, 100% {
    width: 20px;
    height: 5px;
    left: 50%;
    margin-left: -10px;
    top: 174px;
    border-radius: 0;
    background: #1c699d;
  }
}

@keyframes animPart1 {
  /* line 414, ../sass/main.scss */
  0%, 10% {
    width: 20px;
    height: 5px;
    left: 50%;
    margin-left: -10px;
    top: 174px;
    border-radius: 0;
    background: #1c699d;
  }

  /* line 423, ../sass/main.scss */
  18%, 28% {
    width: 20px;
    height: 20px;
    left: 50%;
    margin-left: -10px;
    top: 205px;
    border-radius: 60px;
    background: #1c699d;
  }

  /* line 432, ../sass/main.scss */
  36%, 46% {
    width: 20px;
    height: 20px;
    left: 50%;
    margin-left: -10px;
    top: 217px;
    border-radius: 60px;
    background: #1c699d;
  }

  /* line 441, ../sass/main.scss */
  54%, 64% {
    width: 200px;
    height: 12px;
    left: 50%;
    margin-left: -100px;
    top: 210px;
    border-radius: 100px;
    background: #1c699d;
  }

  /* line 450, ../sass/main.scss */
  72%, 82% {
    width: 80px;
    height: 15px;
    left: 50%;
    margin-left: -40px;
    top: 230px;
    border-radius: 100px;
    background: #1c699d;
  }

  /* line 459, ../sass/main.scss */
  90%, 100% {
    width: 20px;
    height: 5px;
    left: 50%;
    margin-left: -10px;
    top: 174px;
    border-radius: 0;
    background: #1c699d;
  }
}

@-webkit-keyframes animPart2 {
  /* line 472, ../sass/main.scss */
  0%, 10% {
    width: 44px;
    height: 44px;
    left: 50%;
    margin-left: -22px;
    top: 130px;
    border: 2px solid #3498db;
    border-radius: 4px;
  }

  /* line 481, ../sass/main.scss */
  18%, 28% {
    width: 60px;
    height: 115px;
    left: 50%;
    margin-left: -30px;
    top: 79px;
    border: none;
  }

  /* line 489, ../sass/main.scss */
  36%, 46% {
    width: 88px;
    height: 142px;
    left: 50%;
    margin-left: -44px;
    top: 65px;
    border: none;
  }

  /* line 497, ../sass/main.scss */
  54%, 64% {
    width: 166px;
    left: 50%;
    margin-left: -83px;
    height: 100px;
    top: 88px;
    border: none;
  }

  /* line 505, ../sass/main.scss */
  72%, 82% {
    width: 208px;
    height: 130px;
    left: 50%;
    margin-left: -104px;
    top: 75px;
    border: none;
  }

  /* line 513, ../sass/main.scss */
  90%, 100% {
    width: 44px;
    height: 44px;
    left: 50%;
    margin-left: -22px;
    top: 130px;
    border: 2px solid #3498db;
    border-radius: 4px;
  }
}

@-moz-keyframes animPart2 {
  /* line 472, ../sass/main.scss */
  0%, 10% {
    width: 44px;
    height: 44px;
    left: 50%;
    margin-left: -22px;
    top: 130px;
    border: 2px solid #3498db;
    border-radius: 4px;
  }

  /* line 481, ../sass/main.scss */
  18%, 28% {
    width: 60px;
    height: 115px;
    left: 50%;
    margin-left: -30px;
    top: 79px;
    border: none;
  }

  /* line 489, ../sass/main.scss */
  36%, 46% {
    width: 88px;
    height: 142px;
    left: 50%;
    margin-left: -44px;
    top: 65px;
    border: none;
  }

  /* line 497, ../sass/main.scss */
  54%, 64% {
    width: 166px;
    left: 50%;
    margin-left: -83px;
    height: 100px;
    top: 88px;
    border: none;
  }

  /* line 505, ../sass/main.scss */
  72%, 82% {
    width: 208px;
    height: 130px;
    left: 50%;
    margin-left: -104px;
    top: 75px;
    border: none;
  }

  /* line 513, ../sass/main.scss */
  90%, 100% {
    width: 44px;
    height: 44px;
    left: 50%;
    margin-left: -22px;
    top: 130px;
    border: 2px solid #3498db;
    border-radius: 4px;
  }
}

@keyframes animPart2 {
  /* line 472, ../sass/main.scss */
  0%, 10% {
    width: 44px;
    height: 44px;
    left: 50%;
    margin-left: -22px;
    top: 130px;
    border: 2px solid #3498db;
    border-radius: 4px;
  }

  /* line 481, ../sass/main.scss */
  18%, 28% {
    width: 60px;
    height: 115px;
    left: 50%;
    margin-left: -30px;
    top: 79px;
    border: none;
  }

  /* line 489, ../sass/main.scss */
  36%, 46% {
    width: 88px;
    height: 142px;
    left: 50%;
    margin-left: -44px;
    top: 65px;
    border: none;
  }

  /* line 497, ../sass/main.scss */
  54%, 64% {
    width: 166px;
    left: 50%;
    margin-left: -83px;
    height: 100px;
    top: 88px;
    border: none;
  }

  /* line 505, ../sass/main.scss */
  72%, 82% {
    width: 208px;
    height: 130px;
    left: 50%;
    margin-left: -104px;
    top: 75px;
    border: none;
  }

  /* line 513, ../sass/main.scss */
  90%, 100% {
    width: 44px;
    height: 44px;
    left: 50%;
    margin-left: -22px;
    top: 130px;
    border: 2px solid #3498db;
    border-radius: 4px;
  }
}

@-webkit-keyframes code {
  /* line 526, ../sass/main.scss */
  0%, 10% {
    font-size: 16px;
  }

  /* line 529, ../sass/main.scss */
  18%, 28% {
    font-size: 25px;
  }

  /* line 532, ../sass/main.scss */
  36%, 46% {
    font-size: 35px;
  }

  /* line 535, ../sass/main.scss */
  54%, 64% {
    font-size: 45px;
  }

  /* line 538, ../sass/main.scss */
  72%, 82% {
    font-size: 55px;
  }

  /* line 541, ../sass/main.scss */
  90%, 100% {
    font-size: 16px;
  }
}

@-moz-keyframes code {
  /* line 526, ../sass/main.scss */
  0%, 10% {
    font-size: 16px;
  }

  /* line 529, ../sass/main.scss */
  18%, 28% {
    font-size: 25px;
  }

  /* line 532, ../sass/main.scss */
  36%, 46% {
    font-size: 35px;
  }

  /* line 535, ../sass/main.scss */
  54%, 64% {
    font-size: 45px;
  }

  /* line 538, ../sass/main.scss */
  72%, 82% {
    font-size: 55px;
  }

  /* line 541, ../sass/main.scss */
  90%, 100% {
    font-size: 16px;
  }
}

@keyframes code {
  /* line 526, ../sass/main.scss */
  0%, 10% {
    font-size: 16px;
  }

  /* line 529, ../sass/main.scss */
  18%, 28% {
    font-size: 25px;
  }

  /* line 532, ../sass/main.scss */
  36%, 46% {
    font-size: 35px;
  }

  /* line 535, ../sass/main.scss */
  54%, 64% {
    font-size: 45px;
  }

  /* line 538, ../sass/main.scss */
  72%, 82% {
    font-size: 55px;
  }

  /* line 541, ../sass/main.scss */
  90%, 100% {
    font-size: 16px;
  }
}

@-webkit-keyframes animPart3 {
  /* line 550, ../sass/main.scss */
  0%, 10% {
    width: 34px;
    height: 150px;
    left: 50%;
    margin-left: -17px;
    top: 75px;
    border-radius: 5px;
  }

  /* line 558, ../sass/main.scss */
  18%, 28% {
    width: 86px;
    height: 170px;
    left: 50%;
    margin-left: -43px;
    top: 64px;
    border-radius: 10px;
  }

  /* line 566, ../sass/main.scss */
  36%, 46% {
    width: 120px;
    height: 202px;
    left: 50%;
    margin-left: -60px;
    top: 45px;
    border-radius: 10px;
  }

  /* line 574, ../sass/main.scss */
  54%, 64% {
    width: 180px;
    height: 120px;
    left: 50%;
    margin-left: -90px;
    top: 80px;
    border-radius: 10px;
  }

  /* line 582, ../sass/main.scss */
  72%, 82% {
    width: 230px;
    height: 150px;
    top: 65px;
    left: 50%;
    margin-left: -115px;
    border-radius: 10px;
  }

  /* line 590, ../sass/main.scss */
  90%, 100% {
    width: 34px;
    height: 150px;
    left: 50%;
    margin-left: -17px;
    top: 75px;
    border-radius: 5px;
  }
}

@-moz-keyframes animPart3 {
  /* line 550, ../sass/main.scss */
  0%, 10% {
    width: 34px;
    height: 150px;
    left: 50%;
    margin-left: -17px;
    top: 75px;
    border-radius: 5px;
  }

  /* line 558, ../sass/main.scss */
  18%, 28% {
    width: 86px;
    height: 170px;
    left: 50%;
    margin-left: -43px;
    top: 64px;
    border-radius: 10px;
  }

  /* line 566, ../sass/main.scss */
  36%, 46% {
    width: 120px;
    height: 202px;
    left: 50%;
    margin-left: -60px;
    top: 45px;
    border-radius: 10px;
  }

  /* line 574, ../sass/main.scss */
  54%, 64% {
    width: 180px;
    height: 120px;
    left: 50%;
    margin-left: -90px;
    top: 80px;
    border-radius: 10px;
  }

  /* line 582, ../sass/main.scss */
  72%, 82% {
    width: 230px;
    height: 150px;
    top: 65px;
    left: 50%;
    margin-left: -115px;
    border-radius: 10px;
  }

  /* line 590, ../sass/main.scss */
  90%, 100% {
    width: 34px;
    height: 150px;
    left: 50%;
    margin-left: -17px;
    top: 75px;
    border-radius: 5px;
  }
}

@keyframes animPart3 {
  /* line 550, ../sass/main.scss */
  0%, 10% {
    width: 34px;
    height: 150px;
    left: 50%;
    margin-left: -17px;
    top: 75px;
    border-radius: 5px;
  }

  /* line 558, ../sass/main.scss */
  18%, 28% {
    width: 86px;
    height: 170px;
    left: 50%;
    margin-left: -43px;
    top: 64px;
    border-radius: 10px;
  }

  /* line 566, ../sass/main.scss */
  36%, 46% {
    width: 120px;
    height: 202px;
    left: 50%;
    margin-left: -60px;
    top: 45px;
    border-radius: 10px;
  }

  /* line 574, ../sass/main.scss */
  54%, 64% {
    width: 180px;
    height: 120px;
    left: 50%;
    margin-left: -90px;
    top: 80px;
    border-radius: 10px;
  }

  /* line 582, ../sass/main.scss */
  72%, 82% {
    width: 230px;
    height: 150px;
    top: 65px;
    left: 50%;
    margin-left: -115px;
    border-radius: 10px;
  }

  /* line 590, ../sass/main.scss */
  90%, 100% {
    width: 34px;
    height: 150px;
    left: 50%;
    margin-left: -17px;
    top: 75px;
    border-radius: 5px;
  }
}

@media (min-width: 768px) {
  @-webkit-keyframes animPart1 {
    /* line 607, ../sass/main.scss */
    0%, 10% {
      width: 25px;
      height: 5px;
      left: 50%;
      margin-left: -12.5px;
      top: 208px;
      border-radius: 0;
      background: #1c699d;
    }

    /* line 616, ../sass/main.scss */
    18%, 28% {
      width: 24px;
      height: 24px;
      left: 50%;
      margin-left: -12px;
      top: 238px;
      border-radius: 60px;
      background: #1c699d;
    }

    /* line 625, ../sass/main.scss */
    36%, 46% {
      width: 24px;
      height: 24px;
      left: 50%;
      margin-left: -12px;
      top: 265px;
      border-radius: 60px;
      background: #1c699d;
    }

    /* line 634, ../sass/main.scss */
    54%, 64% {
      width: 250px;
      height: 20px;
      left: 50%;
      margin-left: -125px;
      top: 250px;
      border-radius: 100px;
      background: #1c699d;
    }

    /* line 643, ../sass/main.scss */
    72%, 82% {
      width: 90px;
      height: 20px;
      left: 50%;
      margin-left: -45px;
      top: 275px;
      border-radius: 100px;
      background: #1c699d;
    }

    /* line 652, ../sass/main.scss */
    90%, 100% {
      width: 25px;
      height: 5px;
      left: 50%;
      margin-left: -12.5px;
      top: 208px;
      border-radius: 0;
      background: #1c699d;
    }
}

  @-moz-keyframes animPart1 {
    /* line 607, ../sass/main.scss */
    0%, 10% {
      width: 25px;
      height: 5px;
      left: 50%;
      margin-left: -12.5px;
      top: 208px;
      border-radius: 0;
      background: #1c699d;
    }

    /* line 616, ../sass/main.scss */
    18%, 28% {
      width: 24px;
      height: 24px;
      left: 50%;
      margin-left: -12px;
      top: 238px;
      border-radius: 60px;
      background: #1c699d;
    }

    /* line 625, ../sass/main.scss */
    36%, 46% {
      width: 24px;
      height: 24px;
      left: 50%;
      margin-left: -12px;
      top: 265px;
      border-radius: 60px;
      background: #1c699d;
    }

    /* line 634, ../sass/main.scss */
    54%, 64% {
      width: 250px;
      height: 20px;
      left: 50%;
      margin-left: -125px;
      top: 250px;
      border-radius: 100px;
      background: #1c699d;
    }

    /* line 643, ../sass/main.scss */
    72%, 82% {
      width: 90px;
      height: 20px;
      left: 50%;
      margin-left: -45px;
      top: 275px;
      border-radius: 100px;
      background: #1c699d;
    }

    /* line 652, ../sass/main.scss */
    90%, 100% {
      width: 25px;
      height: 5px;
      left: 50%;
      margin-left: -12.5px;
      top: 208px;
      border-radius: 0;
      background: #1c699d;
    }
}

  @keyframes animPart1 {
    /* line 607, ../sass/main.scss */
    0%, 10% {
      width: 25px;
      height: 5px;
      left: 50%;
      margin-left: -12.5px;
      top: 208px;
      border-radius: 0;
      background: #1c699d;
    }

    /* line 616, ../sass/main.scss */
    18%, 28% {
      width: 24px;
      height: 24px;
      left: 50%;
      margin-left: -12px;
      top: 238px;
      border-radius: 60px;
      background: #1c699d;
    }

    /* line 625, ../sass/main.scss */
    36%, 46% {
      width: 24px;
      height: 24px;
      left: 50%;
      margin-left: -12px;
      top: 265px;
      border-radius: 60px;
      background: #1c699d;
    }

    /* line 634, ../sass/main.scss */
    54%, 64% {
      width: 250px;
      height: 20px;
      left: 50%;
      margin-left: -125px;
      top: 250px;
      border-radius: 100px;
      background: #1c699d;
    }

    /* line 643, ../sass/main.scss */
    72%, 82% {
      width: 90px;
      height: 20px;
      left: 50%;
      margin-left: -45px;
      top: 275px;
      border-radius: 100px;
      background: #1c699d;
    }

    /* line 652, ../sass/main.scss */
    90%, 100% {
      width: 25px;
      height: 5px;
      left: 50%;
      margin-left: -12.5px;
      top: 208px;
      border-radius: 0;
      background: #1c699d;
    }
}

  @-webkit-keyframes animPart2 {
    /* line 667, ../sass/main.scss */
    0%, 10% {
      width: 50px;
      height: 50px;
      left: 50%;
      margin-left: -25px;
      top: 152px;
      border: 4px solid #3498db;
      border-radius: 8px;
    }

    /* line 676, ../sass/main.scss */
    18%, 28% {
      width: 76px;
      height: 130px;
      left: 50%;
      margin-left: -38px;
      top: 97px;
      border: none;
    }

    /* line 684, ../sass/main.scss */
    36%, 46% {
      width: 110px;
      height: 180px;
      left: 50%;
      margin-left: -55px;
      top: 75px;
      border: none;
    }

    /* line 692, ../sass/main.scss */
    54%, 64% {
      width: 216px;
      left: 50%;
      margin-left: -108px;
      height: 130px;
      top: 95px;
      border: none;
    }

    /* line 700, ../sass/main.scss */
    72%, 82% {
      width: 250px;
      height: 150px;
      left: 50%;
      margin-left: -125px;
      top: 95px;
      border: none;
    }

    /* line 708, ../sass/main.scss */
    90%, 100% {
      width: 50px;
      height: 50px;
      left: 50%;
      margin-left: -25px;
      top: 152px;
      border: 4px solid #3498db;
      border-radius: 8px;
    }
}

  @-moz-keyframes animPart2 {
    /* line 667, ../sass/main.scss */
    0%, 10% {
      width: 50px;
      height: 50px;
      left: 50%;
      margin-left: -25px;
      top: 152px;
      border: 4px solid #3498db;
      border-radius: 8px;
    }

    /* line 676, ../sass/main.scss */
    18%, 28% {
      width: 76px;
      height: 130px;
      left: 50%;
      margin-left: -38px;
      top: 97px;
      border: none;
    }

    /* line 684, ../sass/main.scss */
    36%, 46% {
      width: 110px;
      height: 180px;
      left: 50%;
      margin-left: -55px;
      top: 75px;
      border: none;
    }

    /* line 692, ../sass/main.scss */
    54%, 64% {
      width: 216px;
      left: 50%;
      margin-left: -108px;
      height: 130px;
      top: 95px;
      border: none;
    }

    /* line 700, ../sass/main.scss */
    72%, 82% {
      width: 250px;
      height: 150px;
      left: 50%;
      margin-left: -125px;
      top: 95px;
      border: none;
    }

    /* line 708, ../sass/main.scss */
    90%, 100% {
      width: 50px;
      height: 50px;
      left: 50%;
      margin-left: -25px;
      top: 152px;
      border: 4px solid #3498db;
      border-radius: 8px;
    }
}

  @keyframes animPart2 {
    /* line 667, ../sass/main.scss */
    0%, 10% {
      width: 50px;
      height: 50px;
      left: 50%;
      margin-left: -25px;
      top: 152px;
      border: 4px solid #3498db;
      border-radius: 8px;
    }

    /* line 676, ../sass/main.scss */
    18%, 28% {
      width: 76px;
      height: 130px;
      left: 50%;
      margin-left: -38px;
      top: 97px;
      border: none;
    }

    /* line 684, ../sass/main.scss */
    36%, 46% {
      width: 110px;
      height: 180px;
      left: 50%;
      margin-left: -55px;
      top: 75px;
      border: none;
    }

    /* line 692, ../sass/main.scss */
    54%, 64% {
      width: 216px;
      left: 50%;
      margin-left: -108px;
      height: 130px;
      top: 95px;
      border: none;
    }

    /* line 700, ../sass/main.scss */
    72%, 82% {
      width: 250px;
      height: 150px;
      left: 50%;
      margin-left: -125px;
      top: 95px;
      border: none;
    }

    /* line 708, ../sass/main.scss */
    90%, 100% {
      width: 50px;
      height: 50px;
      left: 50%;
      margin-left: -25px;
      top: 152px;
      border: 4px solid #3498db;
      border-radius: 8px;
    }
}

  @-webkit-keyframes animPart3 {
    /* line 722, ../sass/main.scss */
    0%, 10% {
      width: 40px;
      height: 150px;
      left: 50%;
      margin-left: -20px;
      top: 103px;
      border-radius: 5px;
    }

    /* line 730, ../sass/main.scss */
    18%, 28% {
      width: 106px;
      height: 190px;
      left: 50%;
      margin-left: -53px;
      top: 80px;
      border-radius: 10px;
    }

    /* line 738, ../sass/main.scss */
    36%, 46% {
      width: 140px;
      height: 240px;
      left: 50%;
      margin-left: -70px;
      top: 60px;
      border-radius: 10px;
    }

    /* line 746, ../sass/main.scss */
    54%, 64% {
      width: 240px;
      height: 160px;
      left: 50%;
      margin-left: -120px;
      top: 80px;
      border-radius: 10px;
    }

    /* line 754, ../sass/main.scss */
    72%, 82% {
      width: 280px;
      height: 180px;
      top: 80px;
      left: 50%;
      margin-left: -140px;
      border-radius: 10px;
    }

    /* line 762, ../sass/main.scss */
    90%, 100% {
      width: 40px;
      height: 150px;
      left: 50%;
      margin-left: -20px;
      top: 103px;
      border-radius: 5px;
    }
}

  @-moz-keyframes animPart3 {
    /* line 722, ../sass/main.scss */
    0%, 10% {
      width: 40px;
      height: 150px;
      left: 50%;
      margin-left: -20px;
      top: 103px;
      border-radius: 5px;
    }

    /* line 730, ../sass/main.scss */
    18%, 28% {
      width: 106px;
      height: 190px;
      left: 50%;
      margin-left: -53px;
      top: 80px;
      border-radius: 10px;
    }

    /* line 738, ../sass/main.scss */
    36%, 46% {
      width: 140px;
      height: 240px;
      left: 50%;
      margin-left: -70px;
      top: 60px;
      border-radius: 10px;
    }

    /* line 746, ../sass/main.scss */
    54%, 64% {
      width: 240px;
      height: 160px;
      left: 50%;
      margin-left: -120px;
      top: 80px;
      border-radius: 10px;
    }

    /* line 754, ../sass/main.scss */
    72%, 82% {
      width: 280px;
      height: 180px;
      top: 80px;
      left: 50%;
      margin-left: -140px;
      border-radius: 10px;
    }

    /* line 762, ../sass/main.scss */
    90%, 100% {
      width: 40px;
      height: 150px;
      left: 50%;
      margin-left: -20px;
      top: 103px;
      border-radius: 5px;
    }
}

  @keyframes animPart3 {
    /* line 722, ../sass/main.scss */
    0%, 10% {
      width: 40px;
      height: 150px;
      left: 50%;
      margin-left: -20px;
      top: 103px;
      border-radius: 5px;
    }

    /* line 730, ../sass/main.scss */
    18%, 28% {
      width: 106px;
      height: 190px;
      left: 50%;
      margin-left: -53px;
      top: 80px;
      border-radius: 10px;
    }

    /* line 738, ../sass/main.scss */
    36%, 46% {
      width: 140px;
      height: 240px;
      left: 50%;
      margin-left: -70px;
      top: 60px;
      border-radius: 10px;
    }

    /* line 746, ../sass/main.scss */
    54%, 64% {
      width: 240px;
      height: 160px;
      left: 50%;
      margin-left: -120px;
      top: 80px;
      border-radius: 10px;
    }

    /* line 754, ../sass/main.scss */
    72%, 82% {
      width: 280px;
      height: 180px;
      top: 80px;
      left: 50%;
      margin-left: -140px;
      border-radius: 10px;
    }

    /* line 762, ../sass/main.scss */
    90%, 100% {
      width: 40px;
      height: 150px;
      left: 50%;
      margin-left: -20px;
      top: 103px;
      border-radius: 5px;
    }
}
}
@media (max-height: 400px) {
  /* line 776, ../sass/main.scss */
  section,
  .centered {
    display: block;
  }

  /* line 780, ../sass/main.scss */
  section {
    padding: 1.5em 0;
  }

  /* line 782, ../sass/main.scss */
  .heroWrap {
    margin-top: 6em;
    position: static;
  }
  /* line 786, ../sass/main.scss */
  .heroWrap .socialWrap {
    position: static;
    margin-left: 0;
  }
}
/* line 7, ../sass/_construction.scss */
header .navToggle,
.heroWrap .portfolio,
.modernWeb,
.recentSection {
  display: none;
}

/* line 11, ../sass/_construction.scss */
.underConstruction {
  display: inline-block;
  background: #ef4836;
  color: white;
  padding: .5em 1.75em;
  position: absolute;
  top: 29px;
  right: -32px;
  font-size: .75em;
  -webkit-transform: rotate(46deg) scale(1) skew(1deg) translate(0px);
  -moz-transform: rotate(46deg) scale(1) skew(1deg) translate(0px);
  -o-transform: rotate(46deg) scale(1) skew(1deg) translate(0px);
  -ms-transform: rotate(46deg) scale(1) skew(1deg) translate(0px);
  transform: rotate(46deg) scale(1) skew(1deg) translate(0px);
  -webkit-backface-visibility: hidden;
  filter: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><filter id="gaussian_blur"><feGaussianBlur in="SourceGraphic" stdDeviation="0" /></filter></defs></svg>#gaussian_blur');
}
@media (min-width: 768px) {
  /* line 11, ../sass/_construction.scss */
  .underConstruction {
    padding: .25em 1.75em;
    top: 53px;
    right: -50px;
    font-size: 1em;
  }
}
@media (min-width: 1024px) {
  /* line 11, ../sass/_construction.scss */
  .underConstruction {
    top: 68px;
    right: -68px;
  }
}
