$mainColor: #3498DB;
$red: #EF4836;

header .navToggle,
.heroWrap .portfolio,
.modernWeb,
.recentSection {
	display: none;
}

.underConstruction {
	display: inline-block;
	background: $red;
	color: white;
	padding: .5em 1.75em;
	position: absolute;
	top: 29px;
	right: -32px;
	font-size: .75em;
	@include mediaBP(medium) {
		padding: .25em 1.75em;
		top: 53px;
		right: -50px;
		font-size: 1em;
		
	}
	
	@include mediaBP(large) {
		top: 68px;
		right: -68px;
		
	}
	
	-webkit-transform: rotate(46deg) scale(1) skew(1deg) translate(0px);
	-moz-transform: rotate(46deg) scale(1) skew(1deg) translate(0px);
	-o-transform: rotate(46deg) scale(1) skew(1deg) translate(0px);
	-ms-transform: rotate(46deg) scale(1) skew(1deg) translate(0px);
	transform: rotate(46deg) scale(1) skew(1deg) translate(0px);
	
	-webkit-backface-visibility: hidden;
	filter: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><filter id="gaussian_blur"><feGaussianBlur in="SourceGraphic" stdDeviation="0" /></filter></defs></svg>#gaussian_blur');
}

