@import "_header";
@import "_global";


//////////////////////////////////
//mobile first //////////////////
////////////////////////////////

* {
	@include box-sizing(border-box);
}

img {
	max-width: 100%;
}

canvas{
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: $zBg;
	width: 100%;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: $lato;
	font-size: 100%;
	font-weight: 300;
	background: url('../images/heroBg.jpg') repeat;
	
	@include mediaBP(medium) {
		font-size: 120%;
	}
	@include mediaBP(large) {
		font-size: 150%;
	}
}

.container {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 1.5em;
	
	@include mediaBP(medium) {
		padding: 0 2.5em;
	}
}

.pageWrap {
	width: 100%;
	height: 100%;
	@include single-transition(left,300ms, ease-in-out, 0ms);
	position: relative;
	left: 0;
	overflow-x: hidden;
	overflow-y: auto;
}

.opened .pageWrap {
	left: -34%;
	@include single-transition(left,300ms, ease-in-out, 0ms);
	@include mediaBP(medium) {left: -20%;}
}

.slide {
	width: 100%;
	height: 100%;
	display: table;
}




////////////////////////////////////
// Hero styles ////////////////////
//////////////////////////////////

.hero {
	width: 100%;
	height: 100%;
	position: relative;
	display: table;
}

.heroWrap {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	display: table-cell;
	position: relative;
	z-index: $zNormal;
	left: 0;
	text-align: center;
	vertical-align: middle;
	
	.heroText {
		@include mediaBP(medium) {
			width: 100%;
			vertical-align: baseline;
			display: inline-block;
			text-align: center;
		}
	}
	
	h1 {
		font-size: 1.25em;
		line-height: 1.3;
		font-family: $lato;
		font-weight: 300;
		margin-bottom: .25em;
		color: $mainColor;
		
		
		@include mediaBP(medium) {
			font-family: $orb;
			line-height: 1.5;
		}
		
		.largeHero {
			display: none;
		}
		
		span {
			display: block;
			font-weight: 900;
			color: $darkGrey;
			font-family: $lato;
			font-size: 1.3em;
			@include mediaBP(medium) {
				font-size: 2.75em;
			}
		}
	}
	
	p {
		color: $mainColor;
		font-size: 1.25em;
		font-weight: 300;
		
		@include mediaBP(medium) {
			font-family: $orb;
		}
	}
	
	.portfolio {
		margin: 2em auto 0;
		display: block;
		border: 2px solid $mainColor;
		max-width: 240px;
		padding: 1em .25em;
		text-decoration: none;
		color: $mainColor;
		font-weight: 300;
		text-transform: uppercase;
		font-size: .8em;
		border-radius: 5px;
		background: transparent;
		position: relative;
		top: 30px;
		@include single-transition(all,400ms, ease-in-out, 0ms);
		
		@include mediaBP(medium) {
			font-size: .7em;
			margin: 6em auto 0;
		}
		
		&:hover {
			background: $mainColor;
			color: #fff;
			@include single-transition(all,400ms, ease-in-out, 0ms);
		}
		
	}
	
	.socialWrap {
		display: block;
		margin: 2em auto;
		position: absolute;
		bottom: 0px;
		left: 50%;
		width: auto;
		margin-left: -77px;
		
		@include mediaBP(medium) {
			margin-left: -90px;
		}
		
		a {
			display: inline-block;
			width: 25px;
			margin-right: 1em;
		}
		
		a:nth-child(4) {
			margin-right: 0;
		}
		
	}
	
	
	
}

.modernWeb {
	display: table;
	width: 100%;
	height: 100%;
	background: $red;
	
	.modernWrap {
		display: table-cell;
		width: 100%;
		vertical-align: middle;
	}
	
	h1 {
		color: #ffffff;
		font-size: 1.45em;
		text-align: center;
		margin: 1em auto .5em;
		font-weight: 300;
		@include mediaBP(xSmall) {
		  font-size: 2em;
		}
	}
}

.centerWrap {
	width: 100%;
	text-align: center;
	
	
}
	

.center {
	position: relative;
	margin: 0 auto;
	border-radius: 50%;
	width: 280px;
	height: 280px;
	background: #fff;
	overflow: hidden;
	@include mediaBP(xSmall) {
		width: 350px;
		height: 350px;
	}
}


.part {
	position: absolute;
	border: 0px solid transparent; 
}

// Set up animations for each part
.part-1 {
	@include partAnim(1);
	@include bounce;
	z-index: 15;
}

.part-2 {
	@include partAnim(2);
	@include bounce;

	background: #fff;
	height: 100px;
	z-index: 10;
	
	text-align: center;
	display: table;
	
	span {
		display: table-cell;
		vertical-align: middle;
		color: $mainColor;
		font-family: $lato;
		font-weight: 700;
		@include code;
		@include bounce;
	}
}

.part-3 {
	@include partAnim(3);
	@include bounce;

	background: $mainColor;
	z-index: 9;
	border-radius: 10px;
}


////////////////////////////////////
// Recent Work Section ////////////
//////////////////////////////////

.recentSection {
	display: table;
	width: 100%;
	height: 100%;
	padding: 1.5em;
	background: #fff;
	
	@include mediaBP(medium) { padding: 0 2.5em;}
	
	.siteWrap {
		overflow: hidden;
		position: relative;
		display: table-cell;
		vertical-align: middle;
		font-size: 1rem;
		
		h1 {
			font-size: 1.75em;
			text-align: center;
			color: $mainColor;
			margin: 1em 0;
			font-weight: bold;
			@include mediaBP(medium) { 
				font-size:  2.5em;
				margin: 2em 0 3em;
			}
		}
		
	}
}

.workWrap {
	max-width: 1280px;
	margin: 5em auto;
	
	.description {
		h3 {
			font-size: 1.25em;
			font-weight: bold;
			margin: .5em 0;
		}
		p {
			margin: .5em 0 1.5em;
			line-height: 1.4;
			
			a {
				color: $mainColor;
			}
		}
		
		p + a {
			background: $red;
			color: #fff;
			padding: 1em;
			border-radius: 4px;
			text-decoration: none;
			display: block;
			margin: 1em auto;
			max-width: 200px;
			text-align: center;
			@include single-transition(background, 200ms, ease-in, 0);
			
			&:hover { background: darken($red, 10%); }
			@include mediaBP (medium) { margin: 1em 0; }
		}
	}
		
	.description,
	.computerPhone {
		display: inline-block;
		width: 100%;
		vertical-align: middle;
		
		@include mediaBP(medium) { width: 34%;}
	}
	
	.computerPhone {
		@include mediaBP(medium) { width: 62%;}
	}
	
	.left { @include mediaBP (medium) {margin-right: 4%} }
}

////////////////////////////////////
// Keyframes ////////////////////
//////////////////////////////////

//logo svg animation
@include keyframes(dash){
from {
    stroke-dashoffset: 333.213;
  }
  to {
    stroke-dashoffset: 0; 
  }
}

////////////////////////////////////
// Keyframes ////////////////////
//////////////////////////////////



// Button/Stand
@include keyframes(animPart1) {
  0%, 10% {
	width: 20px;
	height: 5px; 
	left: 50%;
	margin-left: -10px; 
	top: 174px;  
	border-radius: 0;
	background: darken( $mainColor, 17% );
  }
  18%, 28% {
	width: 20px;
	height: 20px; 
	left: 50%;
	margin-left: -10px; 
	top: 205px;
	border-radius: 60px;
	background: darken( $mainColor, 17% );
  }
  36%, 46% {
	width: 20px;
	height: 20px; 
	left: 50%;
	margin-left: -10px; 
	top: 217px;
	border-radius: 60px;
	background: darken( $mainColor, 17% );
  }
  54%, 64% {
	width: 200px;
	height: 12px;
	left: 50%;
	margin-left: -100px;
	top: 210px;
	border-radius: 100px;
	background: darken( $mainColor, 17% );
  }
  72%, 82% {
	width: 80px; 
	height: 15px;
	left: 50%;
	margin-left: -40px; 
	top: 230px;
	border-radius: 100px; 
	background: darken( $mainColor, 17% );
  }
  90%, 100% {
	width: 20px;
	height: 5px; 
	left: 50%;
	margin-left: -10px; 
	top: 174px;  
	border-radius: 0;
	background: darken( $mainColor, 17% );
  }
}

// Display window
@include keyframes(animPart2) {
  0%, 10% {
	width: 44px;
	height: 44px;
	left: 50%;
	margin-left: -22px;
	top: 130px;
	border: 2px solid $mainColor;
	border-radius: 4px;
  }
  18%, 28% {
	width: 60px;
	height: 115px;
	left: 50%;
	margin-left: -30px;
	top: 79px;
	border: none;
  }
  36%, 46% {
	width: 88px;
	height: 142px;
	left: 50%;
	margin-left: -44px;
	top: 65px;
	border: none;
  }
  54%, 64% {
	width: 166px;
	left: 50%;
	margin-left: -83px;
	height: 100px;
	top: 88px;
	border: none;
  }
  72%, 82% {
	width: 208px;
	height: 130px;
	left: 50%;
	margin-left: -104px;  
	top: 75px; 
	border: none;
  }
  90%, 100%  {
	width: 44px;
	height: 44px;
	left: 50%;
	margin-left: -22px;
	top: 130px;
	border: 2px solid $mainColor;
	border-radius: 4px;
  }
}

// {}
@include keyframes(code) {
  0%, 10% {
	font-size:16px;
  }
  18%, 28% {
	font-size:25px;
  }
  36%, 46% {
	font-size: 35px;
  }
  54%, 64% {
	font-size: 45px;
  }
  72%, 82% {
	font-size: 55px;
  }
  90%, 100% {
	font-size: 16px;
  }
}


// Display border

@include keyframes(animPart3) {
   0%, 10% {
	width: 34px;
	height: 150px;
	left: 50%;
	margin-left: -17px;
	top: 75px;
	border-radius: 5px;
  }
  18%, 28% {
	width: 86px;
	height: 170px;
	left: 50%;
	margin-left: -43px;
	top: 64px;
	border-radius: 10px; 
  }
  36%, 46% {
	width: 120px;
	height: 202px;
	left: 50%;
	margin-left: -60px;
	top: 45px;
	border-radius: 10px;
  }
  54%, 64% {
	width: 180px;
	height: 120px;
	left: 50%;
	margin-left: -90px;
	top: 80px;
	border-radius: 10px;
  }
  72%, 82% {
	width: 230px;
	height: 150px;
	top: 65px; 
	left: 50%;
	margin-left: -115px;
	border-radius: 10px;
  }
  90%, 100%  {
	width: 34px;
	height: 150px;
	left: 50%;
	margin-left: -17px;
	top: 75px;
	border-radius: 5px;
  }
}
@media (min-width: 768px) {
  


// Button/Stand

 
	@include keyframes(animPart1) {
	  0%, 10% {
		width: 25px;
		height: 5px; 
		left: 50%;
		margin-left: -12.5px; 
		top: 208px;  
		border-radius: 0;
		background: darken( $mainColor, 17% ); 
	  }
	  18%, 28% {
		width: 24px;
		height: 24px; 
		left: 50%;
		margin-left: -12px; 
		top: 238px;
		border-radius: 60px;
		background: darken( $mainColor, 17% );
	  }
	  36%, 46% {
		width: 24px;
		height: 24px; 
		left: 50%;
		margin-left: -12px; 
		top: 265px;
		border-radius: 60px;
		background: darken( $mainColor, 17% );
	  }
	  54%, 64% {
		width: 250px;
		height: 20px;
		left: 50%;
		margin-left: -125px;
		top: 250px; 
		border-radius: 100px;
		background: darken( $mainColor, 17% );
	  }
	  72%, 82% {
		width: 90px; 
		height: 20px;
		left: 50%;
		margin-left: -45px; 
		top: 275px;
		border-radius: 100px;
		background: darken( $mainColor, 17% );
	  }
	  90%, 100% {
		width: 25px;
		height: 5px; 
		left: 50%;
		margin-left: -12.5px; 
		top: 208px;  
		border-radius: 0;
		background: darken( $mainColor, 17% ); 
	  }
	}


	// Display window

	@include keyframes(animPart2) {
	  0%, 10% {
		width: 50px;
		height: 50px;
		left: 50%;
		margin-left: -25px;
		top: 152px;
		border: 4px solid $mainColor;
		border-radius: 8px;
	  }
	  18%, 28% {
		width: 76px;
		height: 130px;
		left: 50%;
		margin-left: -38px;
		top: 97px;
		border: none;
	  }
	  36%, 46% {
		width: 110px;
		height: 180px;
		left: 50%;
		margin-left: -55px;
		top: 75px;
		border: none;
	  }
	  54%, 64% {
		width: 216px;
		left: 50%;
		margin-left: -108px;
		height: 130px;
		top: 95px;
		border: none;
	  }
	  72%, 82% {
		width: 250px;
		height: 150px;
		left: 50%;
		margin-left: -125px; 
		top: 95px; 
		border: none;
	  }
	  90%, 100%  {
		width: 50px;
		height: 50px;
		left: 50%;
		margin-left: -25px;
		top: 152px;
		border: 4px solid $mainColor;
		border-radius: 8px;
	  }
	}

	// Display border

	@include keyframes(animPart3) {
	   0%, 10% {
		width: 40px;
		height: 150px;
		left: 50%;
		margin-left: -20px; 
		top: 103px;
		border-radius: 5px;
	  }
	  18%, 28% {
		width: 106px;
		height: 190px;
		left: 50%;
		margin-left: -53px;
		top: 80px;
		border-radius: 10px;
	  }
	  36%, 46% {
		width: 140px; 
		height: 240px;
		left: 50%;
		margin-left: -70px;
		top: 60px;
		border-radius: 10px;
	  }
	  54%, 64% {
		width: 240px;
		height: 160px;
		left: 50%;
		margin-left: -120px; 
		top: 80px;
		border-radius: 10px;
	  }
	  72%, 82% {
		width: 280px;
		height: 180px;
		top: 80px; 
		left: 50%;
		margin-left: -140px;
		border-radius: 10px;
	  }
	  90%, 100%  {
		width: 40px;
		height: 150px;
		left: 50%;
		margin-left: -20px; 
		top: 103px;
		border-radius: 5px;
	  }
  }
  
} 

@media (max-height: 400px) {
	section, 
	.centered {
		display: block;
	}
	
	section { padding: 1.5em 0; }
	
	.heroWrap {
		margin-top: 6em;
		position: static;
		
		.socialWrap {
			position: static;
			margin-left: 0;
		}
	}
}

@import "_construction";