
<div class="ad">
	<a class="sidebar-affiliate" href="http://referrals.trhou.se/robertconner" target="_blank" title="Join Treehouse with me!" alt="Join Treehouse with me!">
	  <img src="http://wac.a8b5.edgecastcdn.net/80A8B5/static-assets/assets/content/referral-badge-grn.png"/>
	</a>
	<a class="sidebar-affiliate" href="http://mediatemple.net#a_aid=541df0a76744d&amp;a_bid=d1b49c1f" target="_top" rel="nofollow" title="Powerful hosting" alt="Powerful hosting">
		<img src="https://affiliate.mediatemple.net/accounts/default1/banners/300x250-light.gif" alt="MediaTemple - Powerful Hosting"  />
	</a>
	<img class="px" style="border:0" src="https://affiliate.mediatemple.net/scripts/imp.php?a_aid=541df0a76744d&amp;a_bid=d1b49c1f" width="1" height="1" alt="" />
	<a class="sidebar-affiliate" href="http://designmodo.com/shop/?u=1408" rel="nofollow" title="Startup Framework" target="_blank">
	  <img src="http://designmodo.com/img/affiliate/startupbright_300_250.jpg" border="0"   alt="Startup Framework" />
	</a>
	<a class="sidebar-affiliate" href="http://designmodo.com/shop/?u=1408" rel="nofollow" title="Flat UI Pro" target="_blank">
	  <img src="http://designmodo.com/img/affiliate/flatui_300_250.jpg" border="0" alt="Flat UI Pro" />
	</a>
</div>

