<!-- contact -->
<section class="contact section">
	<div class="formWrap contentWrap">
		<a href="#" class="close">
			<svg class="toggleSVG" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="38px" height="33px" viewBox="0 0 38 33" enable-background="new 0 0 38 33" xml:space="preserve">
				
				<rect x="14" y="12" fill="#fff" width="5" height="15"/>
				<rect y="17" x="9" fill="#fff" width="15" height="5"/>
			</svg>
		</a>
		<h1>Let's Work Together</h1>
		<p>If you have an interesting project and would like to work toegether or even if you just want to chat drop me a line.</p>
		<form>
			<div class="labelInput">
				<input type="text" id="name" class="input-name"/>
				<label for="name">Name</label>
			</div>
			<div class="labelInput">
				<input type="email" id="email" class="input-email"/>
				<label for="email">Email</label>
			</div>
			<div class="labelInput">
				<textarea id="message" class="input-message"></textarea>
				<label for="message">Message</label>
			</div>
			<input type="submit" class="btn btn-submit" value="Submit"/>
		</form>
	</div>
</section>