//////////////////////////////
//fonts   ///////////////////
////////////////////////////

@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,900);
@import url(//fonts.googleapis.com/css?family=Orbitron:400,500,700,900);
@import url(//fonts.googleapis.com/css?family=Lato:300,400,900);



//font
$source: 'Source Sans Pro', sans-serif; 
$orb: 'Orbitron', sans-serif;
$lato: 'Lato', sans-serif;