@import "base";

footer {
	background: #333;
	color: #fff;
	overflow: hidden;
	padding: 1em 0;
	position: relative;
	text-align: center;
	font-size: 0.85rem;

	a,
	p,
	.footerLogo {
		color: #fff;
		display: inline-block;
		vertical-align: middle;
	}

	p { margin-bottom: 0; }

	.footerLogo {
		margin: 1em auto; 
		@include bp(medium) { margin: 0; }

		a { 
			max-width: 30px; 
			max-height: 35px; 
			img {
				width: 30px;
				height: 34px;
			}
		}
		
		img {
			vertical-align: top;
		}
	}

	.footerSocial { 
		position: relative;
		display: inline-block;

		a { 
			max-width: 25px; 
			margin-right: 1em;

			&:last-child { margin-right: 0;}
		}
	}
}