@import "base";


////////////////////////////////////
// modern web styles //////////////
//////////////////////////////////

.modernWeb {
	background: $red;
	height: 120%;

	h1 {
		color: #ffffff;
		font-size: 1.3em;
		text-align: center;
		margin: 1em auto .5em;
		font-weight: 300;
		@include bp(xSmall) {
		  font-size: 1.75em;
		}
	}
}

.centerWrap {
	width: 100%;
	text-align: center;
	overflow: hidden;
	
}
	

.center {
	background: #fff url('/images/modernAnimation2.gif') no-repeat 50% 50%;
	background-size: cover;
	position: relative;
	margin: 0 auto;
	border-radius: 50%;
	width: 260px;
	height: 260px;
	overflow: hidden;
	@include rbp(410) {
		width: 350px;
		height: 350px;
	}
}

.redPad {
	background: $red;
	height: 2.5em;
	width: 100%;
}