@import "base";

////////////////////////////////////
// Remove with Reset //////////////
//////////////////////////////////

.headerNav ul  {
	list-style: none;
	padding: 0;
}

////////////////////////////////////
// nav toggle styles //////////////
//////////////////////////////////

.navToggle {
	background: $red;
	bottom: 0;
	cursor: pointer;
	display: block;
	opacity: 0.5;
	padding: 0.5em;
	position: fixed;
	right: 0;
	z-index: $zOverlayContent;
	@include single-trans(all, 0.35s, ease);
	@include bp(medium) {
		bottom: auto;
		top: 0;
	}

	.toggleSVG {
		position: relative;
		-webkit-transform:rotateZ(0deg);
		   -moz-transform:rotateZ(0deg);
			-ms-transform:rotateZ(0deg);
		     -o-transform:rotateZ(0deg);
		        transform:rotateZ(0deg);
		top: 0;
		@include single-trans(all, 0.35s, ease);
	}

	&.active {
		opacity: 1;
		@include single-trans(all, 0.35s, ease);

		.toggleSVG {
			-webkit-transform:rotateZ(135deg);
			   -moz-transform:rotateZ(135deg);
				-ms-transform:rotateZ(135deg);
			     -o-transform:rotateZ(135deg);
			        transform:rotateZ(135deg);
			top: 4px;
			@include single-trans(all, 0.325s, ease);
		}
	}

	&:hover { opacity: 1; }
}



////////////////////////////////////
// navigation styles //////////////
//////////////////////////////////

.headerNav {
	background: $red;
	font-size: 1rem;
	max-width: 381px;
	position: fixed;
	right: -100%;
	text-align: center;
	bottom: 0;
	width: 100%;
	padding-right: 54px;
	@include single-trans(all, 0.35s, ease-in-out);
	z-index: $zOverlayContent;
	@include bp(medium) {
		bottom: auto;
		top: 0;
	}



	ul {
		border-top: 1px solid lighten($red, 4%);
		border-bottom: 1px solid lighten($red, 5%);
		font-size: 0;
		

		li {
			display: inline-block;
			width: 50%;
			font-size: 1rem;
			vertical-align: top;
		}
	}
}



.navLinks {
	background: $red;
	border-top: 1px solid transparent;
	color: #fff;
	display: block;
	left: 0;
	padding: 0.91em 0;
	position: relative;
	text-decoration: none;
	width: 100%;
	@include single-trans(all, 0.25s, ease);

	&:hover, &:active {
		background: darken($red, 10%);
		border-top: 1px solid darken($red, 13%);
		box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
		@include single-trans(all, 0.25s, ease);
	}
}


////////////////////////////////////
//  opened styles /////////////////
//////////////////////////////////

.headerNav.open {
	right: 0;
	@include single-trans(all, 0.35s, ease-in-out);

	@media (min-width: 600px) and (max-height: 341px) {
		width: 50%;
		padding-top: 0;
	}
	
}



////////////////////////////////////
// blog navigation styles /////////
//////////////////////////////////

.blog .blogNav {
	@include bp(medium) {
		border-bottom: 1px solid $red;
	}

	.navToggle {
		@include bp(medium) {
			border-bottom: 1px solid $red;
		}
	}
}

.catMenu {
	position: relative;

	.catLink {
		position: relative;
		z-index: $zNormal;
	}

	.cats {
		border: none;
		left: 0; 
		opacity: 0;
		position: absolute;
		bottom: -100%;
		width: 100%;
		z-index: $zBg;
		@include single-trans(all, 0.25s, ease);
		@include bp(medium) {
			top: -100%;
			bottom: auto;
		}

		li { 
			display: block; 
			width: 100%;
		}

		a { 
			background: $red;
			color: #fff;
			display: block;
			padding: 0.91em 0;
			@include single-trans(all, 0.25s, ease);

			&:hover, &:active {
				background: darken($red, 10%);
				box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
				@include single-trans(all, 0.25s, ease);
			}
		}
	}

	&:hover, &:active {
		.cats {
			opacity: 1;
			bottom: 100%;
			@include single-trans(all, 0.25s, ease, 0.4s);
			@include bp(medium) {
				top: 100%;
				bottom: auto;
			}
		}
	}

}

.catagories .cats {
	opacity: 1;
	bottom: 100%;
	@include single-trans(all, 0.25s, ease, 0.4s);
	@include bp(medium) {
		top: 100%;
		bottom: auto;
	}
}