---
layout: blog
comments: true
---
<div class="blog-pages">
	<div class="blog-wrap post">

    <article class="post-content">
      <img class="post-img is-hidden-mobile" src="/assets/{{ page.image }}">

      <header class="post-header">
        <h1 class="headline-primary">{{ page.title }}</h1>
        <div class="post-meta">
          <b class="post-author">by {% if page.author %}{{ page.author }}{% endif %}</b>
          <b class="post-sep">•</b>
          <b class="post-date">{% if page.meta %}{{ page.meta }}{% endif %} 
          {{ page.date | date: "%b %-d, %Y" }}</b>
        </div>
      </header>
      
      {{ content }}

      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://david-conner.com/{{ page.url}}" data-text="{{ page.title }}" data-via="Dave_Conner" data-size="large">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>


      <div class="post-comments">
        {% include disqus.html disqus_identifier=page.disqus_identifier %}
      </div>
      <div class="banner">
        <a href="http://mediatemple.net/landing/sweet16/#a_aid=541df0a76744d&amp;a_bid=d6891104" target="_top" rel="nofollow">
          <img src="https://affiliate.mediatemple.net/accounts/default1/banners/728x90-pt2.gif" alt=""  />
        </a>
        <img style="border:0" src="https://affiliate.mediatemple.net/scripts/imp.php?a_aid=541df0a76744d&amp;a_bid=d6891104" width="1" height="1" alt="" />
      </div>
    </article><!--

    --><aside class="post-sidebar sidebar">
      
      <div class="sidebar-catlist">
        <h2>Catagories</h2>
        <ul>
          {% for cat in site.categories %}
              <li><a href="/blog/{{ cat[0] }}">{{ cat[0] }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% include ads.html %}

    </aside>

	</div>
</div>